/node_modules
/.vscode
/packages
/public/*
!/public/robots.txt
!/public/index.php
!/public/.htaccess
!/public/vendor
!/public/images/logo.svg
!/public/images/favicon.png
!/public/favicon.ico
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_STORE
._*
