# local
.DS_STORE
.DS_Store
._*
Homestead.json
Homestead.yaml
public/*
!public/robots.txt
!public/index.php
!public/.htaccess
!public/vendor
resources/views/index.blade.php
node_modules
vendor
packages
.vagrant

# env
.env

# logs
.phpunit.result.cache
.php_cs
.php_cs.cache

# code editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

