# local
.DS_STORE
._*
Homestead.json
Homestead.yaml
public/*
!public/robots.txt
!public/index.php
!public/.htaccess
!public/vendor
node_modules
vendor
packages
.vagrant

# env
.env

# logs
.phpunit.result.cache

# code editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

