<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="local">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="action-logger">
            <directory suffix="Test.php">./vendor/laravel-enso/action-logger/tests/features</directory>
        </testsuite>
        <testsuite name="activity-log">
            <directory suffix="Test.php">./vendor/laravel-enso/activity-log/tests/units</directory>
        </testsuite>
        <testsuite name="addresses">
            <directory suffix="Test.php">./vendor/laravel-enso/addresses/tests/features</directory>
        </testsuite>
        <testsuite name="avatars">
            <directory suffix="Test.php">./vendor/laravel-enso/avatars/tests/features</directory>
        </testsuite>
        <testsuite name="calendar">
            <directory suffix="Test.php">./vendor/laravel-enso/calendar/tests</directory>
        </testsuite>
        <testsuite name="cli">
            <directory suffix="Test.php">./vendor/laravel-enso/cli/tests</directory>
        </testsuite>
        <testsuite name="cnpvalidator">
            <directory suffix="Test.php">./vendor/laravel-enso/cnpvalidator/tests/features</directory>
        </testsuite>
        <testsuite name="comments">
            <directory suffix="Test.php">./vendor/laravel-enso/comments/tests/features</directory>
        </testsuite>
        <testsuite name="companies">
            <directory suffix="Test.php">./vendor/laravel-enso/companies/tests/features</directory>
        </testsuite>
        <testsuite name="core">
            <directory suffix="Test.php">./vendor/laravel-enso/core/tests/features</directory>
        </testsuite>
        <testsuite name="data-import">
            <directory suffix="Test.php">./vendor/laravel-enso/data-import/tests/features</directory>
        </testsuite>
        <testsuite name="discussions">
            <directory suffix="Test.php">./vendor/laravel-enso/discussions/tests/features</directory>
        </testsuite>
        <testsuite name="documents">
            <directory suffix="Test.php">./vendor/laravel-enso/documents/tests/features</directory>
        </testsuite>
        <testsuite name="files">
            <directory suffix="Test.php">./vendor/laravel-enso/files/tests/features</directory>
        </testsuite>
        <testsuite name="forms">
            <directory suffix="Test.php">./vendor/laravel-enso/forms/tests/unit</directory>
        </testsuite>
        <testsuite name="history-tracker">
            <directory suffix="Test.php">./vendor/laravel-enso/history-tracker/tests/features</directory>
        </testsuite>
        <testsuite name="impersonate">
            <directory suffix="Test.php">./vendor/laravel-enso/impersonate/tests/features</directory>
        </testsuite>
        <testsuite name="localisation">
            <directory suffix="Test.php">./vendor/laravel-enso/localisation/tests/features</directory>
        </testsuite>
        <testsuite name="logs">
            <directory suffix="Test.php">./vendor/laravel-enso/logs/tests/features</directory>
        </testsuite>
        <testsuite name="menu-manager">
            <directory suffix="Test.php">./vendor/laravel-enso/menu-manager/tests/features</directory>
        </testsuite>
        <testsuite name="notifications">
            <directory suffix="Test.php">./vendor/laravel-enso/notifications/tests/features</directory>
        </testsuite>
        <testsuite name="people">
            <directory suffix="Test.php">./vendor/laravel-enso/people/tests/features</directory>
        </testsuite>
        <testsuite name="permissions">
            <directory suffix="Test.php">./vendor/laravel-enso/permissions/tests/features</directory>
        </testsuite>
        <testsuite name="rememberable">
            <directory suffix="Test.php">./vendor/laravel-enso/rememberable/tests/features</directory>
        </testsuite>
        <testsuite name="roles">
            <directory suffix="Test.php">./vendor/laravel-enso/roles/tests/features</directory>
        </testsuite>
        <testsuite name="searchable">
            <directory suffix="Test.php">./vendor/laravel-enso/searchable/tests/features</directory>
        </testsuite>
        <testsuite name="select">
            <directory suffix="Test.php">./vendor/laravel-enso/select/tests/features</directory>
        </testsuite>
        <testsuite name="tables">
            <directory suffix="Test.php">./vendor/laravel-enso/tables/tests/units</directory>
        </testsuite>
        <testsuite name="track-who">
            <directory suffix="Test.php">./vendor/laravel-enso/track-who/tests/features</directory>
        </testsuite>
        <testsuite name="tutorials">
            <directory suffix="Test.php">./vendor/laravel-enso/tutorials/tests/features</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
