<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="actionlogger">
            <directory suffix="Test.php">./vendor/laravel-enso/actionlogger/tests/features</directory>
        </testsuite>
        <testsuite name="cnpvalidator">
            <directory suffix="Test.php">./vendor/laravel-enso/cnpvalidator/tests/features</directory>
        </testsuite>
        <testsuite name="core">
            <directory suffix="Test.php">./vendor/laravel-enso/core/tests/unit</directory>
        </testsuite>
        <testsuite name="filemanager">
            <directory suffix="Test.php">./vendor/laravel-enso/filemanager/tests/unit</directory>
        </testsuite>
        <testsuite name="menumanager">
            <directory suffix="Test.php">./vendor/laravel-enso/menumanager/tests/unit</directory>
        </testsuite>
        <testsuite name="permissionmanager">
            <directory suffix="Test.php">./vendor/laravel-enso/permissionmanager/tests/unit</directory>
        </testsuite>
        <testsuite name="tutorialmanager">
            <directory suffix="Test.php">./vendor/laravel-enso/tutorialmanager/tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
</phpunit>
