.has-vertically-centered-content {
    display:flex;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .columns.is-reverse-mobile {
        flex-direction: column-reverse;
        display: flex;
    }
}

.has-margin-small {
    margin: 0.2em;
}

.has-margin-left-small {
    margin-left: 0.2em;
}

.has-margin-right-small {
    margin-right: 0.2em;
}

.has-margin-top-small {
    margin-top: 0.2em;
}

.has-margin-bottom-small {
    margin-bottom: 0.2em;
}

.has-margin-medium {
    margin: 0.4em;
}

.has-margin-left-medium {
    margin-left: 0.4em;
}

.has-margin-right-medium {
    margin-right: 0.4em;
}

.has-margin-top-medium {
    margin-top: 0.4em;
}

.has-margin-bottom-medium {
    margin-bottom: 0.4em;
}

.has-margin-large {
    margin: 0.8em;
}

.has-margin-left-large {
    margin-left: 0.8em;
}

.has-margin-right-large {
    margin-right: 0.8em;
}

.has-margin-top-large {
    margin-top: 0.8em;
}

.has-margin-bottom-large {
    margin-bottom: 0.8em;
}

.has-padding-small {
    padding: 0.2em
}

.has-padding-left-small {
    padding-left: 0.2em;
}

.has-padding-right-small {
    padding-right: 0.2em;
}

.has-padding-top-small {
    padding-top: 0.2em;
}

.has-padding-bottom-small {
    padding-bottom: 0.2em;
}

.has-padding-medium {
    padding: 0.4em
}

.has-padding-left-medium {
    padding-left: 0.4em;
}

.has-padding-right-medium {
    padding-right: 0.4em;
}

.has-padding-top-medium {
    padding-top: 0.4em;
}

.has-padding-bottom-medium {
    padding-bottom: 0.4em;
}

.has-padding-large {
    padding: 0.8em
}

.has-padding-left-large {
    padding-left: 0.8em;
}

.has-padding-right-large {
    padding-right: 0.8em;
}

.has-padding-top-large {
    padding-top: 0.8em;
}

.has-padding-bottom-large {
    padding-bottom: 0.8em;
}

.is-bold {
    font-weight: bold;
}

.is-clickable {
    cursor: pointer;
}

.has-text-muted {
    opacity: 0.7;
}

.button.is-naked {
    background: 0;
    border: none;
    opacity: 0.6;
    transition: opacity ease 0.3s;
    &:hover {
        opacity: 1;
    }
    &:focus {
        box-shadow: unset;
    }
}

.is-raised {
    -webkit-box-shadow: 0 2px 18px 1px rgba(42,51,83,.2);
    box-shadow: 0 2px 18px 1px rgba(42,51,83,.2);
}

.raises-on-hover {
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        -webkit-box-shadow: 0 2px 18px 1px rgba(42,51,83,.35);
        box-shadow: 0 2px 18px 1px rgba(42,51,83,.35);
    }
}
