// Brands
$brand-primary: #009688;
$brand-info: #03a9f4;
$brand-success: #4caf50;
$brand-warning: #ff5722;
$brand-danger:  #f44336;

// Typography
$line-height-base: 1.4;
$text-color: #3c3a3a;

// Panels
$panel-default-heading-bg: #eeeeee;

//Border Radius
$border-radius-base: 0;