.has-vertically-centered-content {
    display:flex;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .columns.is-reverse-mobile {
        flex-direction: column-reverse;
        display: flex;
        .column {
            width: 100%; 
        }
    }
}

.has-margin-small {
    margin: 6px;
}

.has-margin-left-small {
    margin-left: 6px;
}

.has-margin-right-small {
    margin-right: 6px;
}

.has-margin-top-small {
    margin-top: 6px;
}

.has-margin-bottom-small {
    margin-bottom: 6px;
}

.has-margin-medium {
    margin: 12px;
}

.has-margin-left-medium {
    margin-left: 12px;
}

.has-margin-right-medium {
    margin-right: 12px;
}

.has-margin-top-medium {
    margin-top: 12px;
}

.has-margin-bottom-medium {
    margin-bottom: 12px;
}

.has-margin-large {
    margin: 24px;
}

.has-margin-left-large {
    margin-left: 24px;
}

.has-margin-right-large {
    margin-right: 24px;
}

.has-margin-top-large {
    margin-top: 24px;
}

.has-margin-bottom-large {
    margin-bottom: 24px;
}

.has-padding-small {
    padding: 6px
}

.has-padding-left-small {
    padding-left: 6px;
}

.has-padding-right-small {
    padding-right: 6px;
}

.has-padding-top-small {
    padding-top: 6px;
}

.has-padding-bottom-small {
    padding-bottom: 6px;
}

.has-padding-medium {
    padding: 12px
}

.has-padding-left-medium {
    padding-left: 12px;
}

.has-padding-right-medium {
    padding-right: 12px;
}

.has-padding-top-medium {
    padding-top: 12px;
}

.has-padding-bottom-medium {
    padding-bottom: 12px;
}

.has-padding-large {
    padding: 24px
}

.has-padding-left-large {
    padding-left: 24px;
}

.has-padding-right-large {
    padding-right: 24px;
}

.has-padding-top-large {
    padding-top: 24px;
}

.has-padding-bottom-large {
    padding-bottom: 24px;
}

.is-bold {
    font-weight: bold;
}

.is-clickable {
    cursor: pointer;
}