input.toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

.form-group input.toggle + label {
    margin-top: 6px;
    margin-bottom: 1px;
}

input.toggle + label {
    // display: block;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 0px 1px $brand-primary;
    text-indent: -5000px;
    height: 22.5px;
    width: 37.5px;
    border-radius: 15px;
}

input.toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 22.5px;
    width: 22.5px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input.toggle + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 22.5px;
    width: 22.5px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input.toggle:checked + label:before {
    width: 37.5px;
    height: 22.5px;
    background: $brand-primary;
}

input.toggle:checked + label:after {
    left: 15px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

input.toggle:disabled + label:before {
    background: #eee;
}