// v-cloak vue directive
[v-cloak] {
	display: none;
}

/** START admin-lte customizations **/

//admin-lte customize breadcrumb
.breadcrumb > li + li:before {
	content: "/\00a0";
	padding: 0 5px;
	color: #3c3a3a;
}

//used for breadcrumb color for inactive links
a.greyed {
	color: rgba(68, 68, 68, 0.5) !important;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

//admin-lte customize border
.btn {
	border: 0;
}

//admin-lte opacity overwrite
.box .overlay,
.overlay-wrapper .overlay {
	background: rgba(255, 255, 255, 0.3);
}

//admin-lte customization for same size irrespective of existence of title
section.content-header {
	min-height: 49px;
}

// removing of extra margin - needed
.invoice { //fixme
	margin: 0;
}

/* END admin-lte customizations */

/** START bootstrap-paper customizations **/
.box > .box-header > .box-tools .btn,
.actions-btn.bs-select-all.btn.btn-default {
	border: 0;
	box-shadow: none;
}

.actions-btn.btn.btn-default {
  border: 0;
  box-shadow: none;
  font-weight: 600;
  font-size: 14px;
  color: #009688;
}

div.bootstrap-select > button.btn.dropdown-toggle.btn-default {
	box-shadow: none;
	border-bottom: 1px solid #ddd;
}

.box > .box-header > .box-tools .btn {
	border: 0;
	box-shadow: none;
}

.input-group-addon:last-child {
	border: 0;
	box-shadow: inset 0 -1px 0 #ddd;
}

.fa-search.input-group-addon {
	cursor:pointer;
}

.label {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.4s;
}

input[type='checkbox']:indeterminate:after {
	background-image: url('/images/indeterminate.png');
	border-color: #009688;
}

input[type="radio"]:before, input[type="radio"]:after {
	border-radius: 0;
}

/* Form control error underline */
.form-group.has-error .form-control,
.form-group.has-error .input-group-addon {
    border-bottom: none;
    box-shadow: inset 0 -2px 0 #f44336;
}
/* END bootstrap-paper customizations */

/** START spinner classes used for ajax loading **/
.fa.fa-spinner.fa-spin.spinner-custom {
	color: #f44336;
}

.fa.fa-spinner.fa-spin.spinner-custom-small {
	color: #f44336;
	font-size: 18px;
}
/* END spinner classes used for ajax loading */

/** START helper classes **/

.margin-top-md {
	margin-top: 20px;
}

.margin-bottom-md {
	margin-bottom: 20px;
}

.margin-left-md {
	margin-left: 20px;
}

.margin-right-md {
	margin-right: 20px;
}

.margin-none {
	margin: 0;
}

.bold {
	font-weight: bold;
}

.margin-left-xs {
	margin-left: 5px;
}

.margin-right-xs {
	margin-right: 5px;
}

.margin-top-xs {
	margin-top: 5px;
}

.margin-bottom-xs {
	margin-bottom: 5px;
}

.padding-left-xs {
	padding-left: 5px;
}

.padding-right-xs {
	padding-right: 5px;
}

.padding-top-xs {
	padding-top: 5px;
}

.padding-bottom-xs {
	padding-bottom: 5px;
}

.padding-none {
	padding: 0;
}

.margin-left-sm {
	margin-left: 10px;
}

.margin-right-sm {
	margin-right: 10px;
}

.margin-top-sm {
	margin-top: 10px;
}

.margin-bottom-sm {
	margin-bottom: 10px;
}

.flex-center-x {
	display: flex;
	justify-content: center;
}

.flex-center-y {
	display: flex;
	align-items: center;
}

.flex-center-xy {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* END helper classes */

//no underline for links, such as in datatables buttons
a:hover,
a:focus {
	text-decoration: none;
	color: #72afd2;
}

//main app grey-ish background
.content-wrapper {
	background-image: url("/images/background.jpg");
}

//used for non datatables tables
table {
	width: 100%;
}

/* tooltip */

.tooltip {
	display: none;
	opacity: 0;
	transition: opacity .15s;
	pointer-events: none;
	padding: 4px;
	z-index: 10000;
}

.tooltip .tooltip-content {
	background: black;
	opacity: 0.8;
	color: white;
	padding: 4px 8px;
}

.tooltip.tooltip-open-transitionend {
	display: block;
}

.tooltip.tooltip-after-open {
	opacity: 0.8;
}

/* end tooltip */

/* stop-impersonating button */
div.stop-impersonating {
	z-index: 2000;
	position: fixed;
	top: 14px;
}
/* end stop-impersonating button */

.draggable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}