.mention-container {
    z-index: 1; 
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.2rem;
    background: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(133,133,133,1);
    box-shadow: 0px 0px 5px 1px rgba(133,133,133,1);
    transition: border-color .75s ease;
}

.mention-list {
    list-style: none;
    overflow: hidden;
}

.mention-item {
    cursor: pointer;
    line-height: 1.5rem;
    padding: 0.2rem 0.6rem;
    font-size: 1rem;

    img {
        width: 1.4rem;
        height: 1.4rem;
        margin-bottom: -0.3rem;
        border-radius: 290486px;
    }

    &.selected {
        background-color: #D3E1EB;
        text-decoration: none;
    }
}