@import "./node_modules/bulma/sass/utilities/initial-variables";

$danger: #e50800;

@import "./node_modules/bulma/bulma";

@import "../extensions";

body {
    background-color: whitesmoke;
}

.aside {
	background: #fff;
}