@import "./node_modules/bulma/sass/utilities/initial-variables";

@import "./node_modules/bulmaswatch/cosmo/variables";
@import "./node_modules/bulma/bulma";
@import "./node_modules/bulmaswatch/cosmo/overrides";

@import "../extensions";

.aside {
	background: #ffffff;
}