@import "./node_modules/bulma/sass/utilities/initial-variables";

@import "./node_modules/bulmaswatch/litera/variables";
@import "./node_modules/bulma/bulma";
@import "./node_modules/bulmaswatch/litera/overrides";

@import "~flatpickr/dist/themes/light";
@import "../extensions";

.aside {
	background: #ffffff;
}