@import "./node_modules/bulma/sass/utilities/initial-variables";

@import "./node_modules/bulmaswatch/yeti/variables";
@import "./node_modules/bulma/bulma";
@import "./node_modules/bulmaswatch/yeti/overrides";

@import "~flatpickr/dist/themes/material_orange";
@import "../extensions";

.aside {
	background: #ffffff;
}