@import "./node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$red: #e74c3c;

@import "./node_modules/bulma/bulma";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "~flatpickr/dist/themes/light";

@import "../extensions";

.aside {
	background: $body-background-color;
}

.editor.wysiwyg {
	.content.wysiwyg-content {
		&:hover {
			color: $input-hover-color;
			border-color: $grey-light;
		}

		color: $input-color;
		background-color: $input-background-color;
		border-color: $input-border-color;

		&.is-danger {
			border-color: $danger;
		}
	}
}