$colors: red, orangered, blue, brown, crimson, blueviolet, coral, green, grey;

.tooltip {

    .tooltip-arrow {
        @each $color in $colors {
            &.#{$color} {
                border-color: $color;
            }
        }
    }

    .tooltip-inner {
        background: black;
        color: white;

        @each $color in $colors {
            &.#{$color} {
                background: $color;
            }
        }
    }
}